#--tg message handling and others--#
pyrofork

#--http requests handling--#
aiohttp

#--make pyrogram more fast--#
tgcrypto

#--mangodb handler--#
pymongo

#--connectivity helper--#
dnspython

#--pyrogram helper ext--#
pyromod 

#--convert for human readable format--# 
humanize